100 DIALOGEX 0,0,388,270
CAPTION "XP UserManager"
FONT 8,"Tahoma",0,0
MENU 101
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CONTEXTHELP|DS_CENTER|DS_MODALFRAME|DS_NOFAILCREATE
BEGIN
  CONTROL "Tree1",10901,"SysTreeView32",WS_VISIBLE|WS_BORDER|WS_TABSTOP|TVS_SHOWSELALWAYS|TVS_DISABLEDRAGDROP|TVS_HASLINES|TVS_HASBUTTONS,10,70,140,180,WS_EX_CLIENTEDGE
  CONTROL "Static",101,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,110,15,195,30
  CONTROL "Tab1",10905,"SysTabControl32",WS_VISIBLE|WS_TABSTOP|TCS_FOCUSNEVER,160,72,220,113
  CONTROL "List3",10903,"SysListView32",WS_VISIBLE|WS_BORDER|WS_TABSTOP|LVS_NOSORTHEADER|LVS_NOLABELWRAP|LVS_REPORT,160,190,220,60
  CONTROL "",102,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_SUNKEN,0,48,386,6
  CONTROL "",103,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_SUNKEN,0,0,386,6
END

200 DIALOGEX 0,0,212,86
CAPTION "Mit Netzwerkrechner verbinden"
FONT 8,"Tahoma",0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_MODALFRAME
BEGIN
  CONTROL "&Computer",208,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,7,6,35,10
  CONTROL "",206,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_UPPERCASE,60,5,85,12,WS_EX_CLIENTEDGE
  CONTROL "&Netzwerk",207,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,155,3,50,15
  CONTROL "&Benutzername:",209,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,7,25,50,10
  CONTROL "",203,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,60,25,85,12,WS_EX_CLIENTEDGE
  CONTROL "&Passwort:",210,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,7,39,50,10
  CONTROL "",204,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_PASSWORD,60,39,85,12,WS_EX_CLIENTEDGE
  CONTROL "&Speichern",205,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,28,68,46,9
  CONTROL "OK",201,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,100,65,50,14
  CONTROL "Schließen",202,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,155,65,50,14
  CONTROL "",299,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_SUNKEN|SS_CENTER,5,58,200,7
  CONTROL "&Hilfe",211,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,156,36,50,15
END

110 DIALOGEX 0,0,220,96
FONT 8,"Tahoma",0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|DS_CONTROL
EXSTYLE WS_EX_TRANSPARENT
BEGIN
  CONTROL "",10202,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,76,5,134,13,WS_EX_CLIENTEDGE
  CONTROL "",10203,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,76,22,134,13,WS_EX_CLIENTEDGE
  CONTROL "",10204,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,76,38,134,13,WS_EX_CLIENTEDGE
  CONTROL "",113,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_PASSWORD,76,55,64,13,WS_EX_CLIENTEDGE
  CONTROL "",112,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_PASSWORD,146,55,64,13,WS_EX_CLIENTEDGE
  CONTROL "&zurücksetzen",111,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,76,70,60,11
  CONTROL "Benutzer:",201,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE,8,7,62,11
  CONTROL "vollständiger &Name:",202,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE,8,24,62,11
  CONTROL "Be&schreibung:",203,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE,8,40,64,11
  CONTROL "&Kennwort:",0,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE,8,57,36,11
END

120 DIALOGEX 0,0,206,96
FONT 8,"Tahoma",0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|DS_CONTROL
EXSTYLE WS_EX_TRANSPARENT
BEGIN
  CONTROL "Benutzer muss Kennwort bei nächster &Anmeldung ändern",221,"Button",WS_VISIBLE|WS_TABSTOP|BS_MULTILINE|BS_AUTOCHECKBOX,5,3,195,16
  CONTROL "Benutzer kann &Kennwort nicht ändern",222,"Button",WS_VISIBLE|WS_TABSTOP|BS_MULTILINE|BS_AUTOCHECKBOX,5,20,195,10
  CONTROL "Kennwort läuft &nie ab",223,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,5,35,195,10
  CONTROL "Konto ist &deaktiviert",226,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,6,48,196,11
  CONTROL "&Anmeldeskript:",121,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_RIGHT,0,79,78,11
  CONTROL "",122,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,80,79,104,13,WS_EX_CLIENTEDGE
  CONTROL "...",123,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,188,79,16,13
  CONTROL "...",124,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,188,60,16,13
  CONTROL "",125,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,80,62,104,13,WS_EX_CLIENTEDGE
  CONTROL "Stamm&verzeichnis:",126,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_RIGHT,0,62,78,11
END

130 DIALOGEX 0,0,206,96
FONT 8,"Tahoma",0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|DS_CONTROL
EXSTYLE WS_EX_TRANSPARENT
BEGIN
  CONTROL "Diesen Benutzer &automatisch einloggen",231,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,5,6,145,10
  CONTROL "",10216,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_PASSWORD,55,21,95,12,WS_EX_CLIENTEDGE
  CONTROL "Konto im Anmeldebildschirm &verstecken",233,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,5,41,140,10
  CONTROL "&Kennwort:",232,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,15,23,35,10
END

140 DIALOGEX 0,0,222,96
FONT 8,"Tahoma",0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|DS_CONTROL
EXSTYLE WS_EX_TRANSPARENT
BEGIN
  CONTROL "",141,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_NOSORTHEADER|LVS_SORTASCENDING|LVS_REPORT,4,3,210,91,WS_EX_CLIENTEDGE
END

300 DIALOGEX 0,0,216,180
CAPTION "Info"
FONT 8,"MS Sans Serif",0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME
BEGIN
  CONTROL "",302,"TAboutScroller",WS_VISIBLE|WS_CLIPSIBLINGS|WS_CLIPCHILDREN,6,51,201,72
  CONTROL "",301,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTER,3,5,212,12
  CONTROL "",303,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTER,27,132,170,17
  CONTROL "&Schließen",304,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,75,159,70,15
  CONTROL "",305,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTER,6,35,204,10
  CONTROL "",306,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTER,19,20,180,10
  CONTROL "#1",0,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,8,5,21,19
END

400 DIALOGEX 0,0,306,335
CAPTION "Gruppenverwaltung"
FONT 8,"Tahoma",0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_NOFAILCREATE
EXSTYLE WS_EX_CONTEXTHELP
BEGIN
  CONTROL "List1",401,"SysListView32",WS_VISIBLE|WS_BORDER|WS_TABSTOP|LVS_NOSORTHEADER|LVS_SORTASCENDING|LVS_SHOWSELALWAYS|LVS_SINGLESEL|LVS_REPORT,4,5,296,96,WS_EX_CLIENTEDGE
  CONTROL "List1",402,"SysListView32",WS_VISIBLE|WS_BORDER|WS_TABSTOP|LVS_NOSORTHEADER|LVS_SHOWSELALWAYS|LVS_SINGLESEL|LVS_REPORT,4,107,296,96,WS_EX_CLIENTEDGE
  CONTROL "Über&nehmen",403,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,176,208,60,15
  CONTROL "&Zurücksetzen",404,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,240,208,60,15
  CONTROL "",405,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,66,243,96,13,WS_EX_CLIENTEDGE
  CONTROL "",406,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,66,260,228,13,WS_EX_CLIENTEDGE
  CONTROL "&Speichern",407,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,168,278,60,15
  CONTROL "&Löschen",408,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,234,278,60,15
  CONTROL "Schließen",409,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,240,313,60,15
  CONTROL "",499,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_SUNKEN,0,304,306,6
  CONTROL "Gruppe erstellen / löschen:",0,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,6,230,294,68
  CONTROL "&Kommentar:",406,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE,14,260,40,11
  CONTROL "&Gruppenname:",413,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE,14,243,48,11
  CONTROL "&Hilfe",410,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,10,313,60,15
END

500 DIALOGEX 0,0,202,48
CAPTION "bitte warten..."
FONT 8,"MS Sans Serif",0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|DS_MODALFRAME
EXSTYLE WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "Benutzergruppen und Privilegien werden übertragen",501,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,2,29,198,11
  CONTROL "#1",0,"SysAnimate32",WS_CHILDWINDOW|WS_VISIBLE|ACS_AUTOPLAY|ACS_TRANSPARENT|ACS_CENTER,36,3,134,20
END

1 ICON DISCARDABLE "ico1.ico"
2 ICON DISCARDABLE "ico2.ico"
4 ICON DISCARDABLE "ico4.ico"
9 ICON DISCARDABLE "ico9.ico"
5 ICON DISCARDABLE "ico5.ico"
3 ICON DISCARDABLE "ico3.ico"
199 BITMAP DISCARDABLE "bmp199.bmp"
1 AVI DISCARDABLE "serverdownload.avi"
7 ICON DISCARDABLE "ico7.ico"
10 ICON DISCARDABLE "ico8.ico"
8 ICON DISCARDABLE "keys.ico"

STRINGTABLE DISCARDABLE
BEGIN
END

1 VERSIONINFO
FILEVERSION 6, 1, 0, 25
PRODUCTVERSION 6,1,0,0
FILEOS 0x00040004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040704B0"
    BEGIN
      VALUE "FileVersion", "6, 1, 0, 25\0"
      VALUE "FileDescription", "Benutzerverwaltung für Windows XP/Vista/Windows 7\0"
      VALUE "InternalName", "Usermanager.exe\0"
      VALUE "LegalCopyright", "Michael Puff\0"
      VALUE "LegalTrademarks", "keine\0"
      VALUE "ProductName", "XP Usermanager\0"
      VALUE "ProductVersion", "6.1\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0407, 0x04B0
  END
END

101 MENUEX
BEGIN
  POPUP "&Datei"
  BEGIN
    MENUITEM "&Computer wählen...\tStrg+C",40130
    MENUITEM "Lokaler Computer\tStrg+L",40160
    MENUITEM "",1,0x00000800
    MENUITEM "&Beenden\tAlt+F4",40006
  END
  POPUP "&Benutzer"
  BEGIN
    MENUITEM "&Neuer Benutzer\tStrg+N",40020
    MENUITEM "&Speichern\tStrg+S",40030
    MENUITEM "&Löschen\tStrg+Entf",40040
  END
  POPUP "&Ansicht"
  BEGIN
    MENUITEM "&Benutzer",40007
    MENUITEM "&Gruppen",40008
    MENUITEM "Aus&klappen",40009
    MENUITEM "",3,0x00000800
    MENUITEM "&Aktualisieren\tF5",40140
  END
  POPUP "&Extras"
  BEGIN
    MENUITEM "&Gruppenmanager\tStrg+G",40200
    POPUP "Benutzer &exportieren"
    BEGIN
      MENUITEM "&CSV",40201
      MENUITEM "&XML",40202
    END
    MENUITEM "Benutzer &importieren",40203
  END
  POPUP "&Hilfe"
  BEGIN
    MENUITEM "&Hilfe",40010
    MENUITEM "",103,0x00000800
    MENUITEM "Ü&ber...",40011
  END
END

4000 ACCELERATORS
BEGIN
  78,4002,VIRTKEY,CONTROL,NOINVERT
  83,4003,VIRTKEY,CONTROL,NOINVERT
  46,4004,VIRTKEY,CONTROL,NOINVERT
  112,4010,VIRTKEY,NOINVERT
  67,4013,VIRTKEY,CONTROL,NOINVERT
  116,4014,VIRTKEY,NOINVERT
  76,4016,VIRTKEY,CONTROL,NOINVERT
  71,4020,VIRTKEY,CONTROL,NOINVERT
END




















